
<!-- <h2> Camgrounds matching your criteria </h2>
<!-- <div *ngFor="let member of members | async" (click)="goToDetailPage(member)"> -->
<div class="container">
  <label for="searchByState">State:</label>
  <select #searchByState>
    <option value=""></option>
  </select>
  <button (click)="getCamps()">Search</button>
  <div class="panel-body" *ngFor="let camp of camps">
    <h2 (click)="getCampDetail(camp.$.contractID, camp.$.facilityID)">{{camp.$.facilityName}}</h2>
    <h3>ID: {{camp.$.facilityID}}</h3>
    <h3>Code: {{camp.$.contractID}}</h3>
    <h3>Lat: {{camp.$.latitude}}</h3>
    <h3>Lng: {{camp.$.longitude}}</h3>
    <hr>
  </div>
</div>
