
<!-- <h2> Camgrounds matching your criteria </h2>
<!-- <div *ngFor="let member of members | async" (click)="goToDetailPage(member)"> -->
<div class="container">
  <select #sortOption>
    <option value="All" selected="selected">Sort by Amenities</option>
    <option value="pets">Pets Allowed</option>
    <option value="waterfront">Waterfront</option>
    <!-- <option value="Cable">Cable</option>
    <option value="Restrooms">Restrooms</option>
    <option value="RV Wash">RV Wash</option>
    <option value="Yurt">Yurt</option>
    <option value="Tent">Tent Camping</option>
    <option value="Firewood">Firewood</option> -->
  </select>

  <button (click)="sortByAmenities(sortOption.value)">Sort</button>

  <div class="panel-body" *ngFor="let camp of camps">
    <h2 class="link" (click)="getCampDetail(camp.$.contractID, camp.$.facilityID)">{{camp.$.facilityName}}</h2>
    <div class="hidebutneed">
      <h3>ID: {{camp.$.facilityID}}</h3>
      <h3>Code: {{camp.$.contractID}}</h3>
      <h3>Lat: {{camp.$.latitude}}</h3>
      <h3>Lng: {{camp.$.longitude}}</h3>
    </div>
    <hr>
  </div>
</div>
