<br>
<br>
<br>
<div class="container">
  <div class="col-md-3">
    <h1><strong>{{campDetail?.$.facility}}</strong></h1>
    <p><strong><em><a target="_blank" href="{{campDetail?.$.webURL}}">visit the website</a></em></strong></p>
    <p>{{campDetail?.address[0].$.streetAddress}}</p>
    <p>{{campDetail?.address[0].$.city}}, {{campDetail?.address[0].$.state}}</p> <p>{{campDetail?.address[0].$.country}}</p>
    <p><em>the camp provides:</em></p>
    <p>{{campDetail?.$.facilitiesDescription}}</p>
    <p><em>and for recreation you'll find:</em></p>
    <p>{{campDetail?.$.recreationDescription}}</p>
	</div>

	<div class="col-md-9">
    <p><em>About {{campDetail?.$.facility}}</em></p>
    <p>{{campDetail?.$.description}}</p>

    <p><em>Nearby Attractions</em></p>
    <p>{{campDetail?.$.nearbyAttrctionDescription}}</p>

    <p><em>Driving Directions</em></p>
    <p>{{campDetail?.$.drivingDirection}}</p>
  </div>
	</div>


<!-- <img src="../../assets/images/marshmallow.png"/> -->
