<div class="container">
  <h2>{{campDetail?.$.facility}}</h2>
  <p>{{campDetail?.$.description}}</p>
  <p>{{campDetail?.$.webURL}}</p>
  <p>{{campDetail?.$.nearbyAttrctionDescription}}</p>
  <p>{{campDetail?.$.recreationDescription}}</p>
  <p>{{campDetail?.$.drivingDirection}}</p>
  <p>{{campDetail?.$.facilitiesDescription}}</p>












  {{campDetail?.photo}}
  {{campDetail?.address}}
  {{campDetail?.amenity}}
  {{campDetail?.bulletin}}
  {{campDetail?.contact}}
  {{campDetail?.address[0].$.streetAddress}} 
  {{campDetail?.address[0].$.city}},
  {{campDetail?.address[0].$.state}}
  {{campDetail?.address[0].$.country}}
</div>
