<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Home</a>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <h1> Camp Search </h1>
  <p class="project-description"> search campsites</p>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="spacer"></div>

<footer class="footer">
  <div class="container">
    powered by <a target="_blank" href="http://developer.active.com/"><img src="./assets/images/activeaccess.png" width=10% height=10%></a>
  </div>
</footer>
