.sebm-google-map-container {
  font-family: 'Andika', sans-serif;
  position: fixed;
  height: 600px;
  width: 75%;
}

h1, h2, h3, h4 {
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
}

.search {
  text-align: center;
}

.search input {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
